    /*GRIDS*/

    .grid-container {
        display: grid;
        grid-template-areas:
          'main main';
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        } 
      
        .item1 { grid-area: header; }
        .item2 { grid-area: main; }
        .item3 { grid-area: right; }
        .item4 { grid-area: footer; }
    
    #swirl{
            position: absolute;
            width: 100%;
            z-index: -999;
            top: 13px;
            left: -103px;
    }
    
    
    h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        line-height: 150px;
        letter-spacing: 0.025em;
    }
    
    h2{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    
    h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    
    p{
        font-family: Inter;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
    }

    
    #myname{
        margin: 0 0 50px 0;
    }
    
    #myTitle{
        color: #9B8B8A;
    }    
    
    .nav{
        width:100%;
        padding: 0%;
        display: flex;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        }
    
        a {
            text-decoration: none;
        }
    
        .main-nav{
            display: flex;
            flex-direction: row;
            float: right;
            align-items: center;
            position: static;
            margin-left: 923px;
            margin-top: 34px;
            width: 437px;
            height: 22px;
            }
    
        #logo{
            margin: 0px;
            height: 100px;
            text-align: center;
            float: left;
        }
    
    .header {
            flex-direction: row;
            justify-content: left;
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    
            li {
                float: right;
                display: block;
                color: black;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }
    
            ul{
                width: 100%;
                margin-left: auto;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
    
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    
       
    #intro{
        width: 576px;
        height: 230px;
        left: 762px;
        top: 395px;
    }
    
    .content-left{
        width: 50%;
        padding:0 0 0 50px;
    }

    .content-right{
        width: 50%;
        padding: 100px 50px 30px 0;
    }
    
    .btn-cta{
        border: none;
        background-color: #BAAFBB;
        font-size: 18px;

        /* Auto Layout */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        border-radius: 5px;

        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        align-items: center;
        text-align: center;

        color: #000000;
    }
    
    
    .btn-cta:hover {

        border: 1px solid #896E8B;
        background: #FFFFFF;

    }
    
    footer{
        background-color: #373738;
        width: 100%;
        color: white;
    }