/* MEDIA QUERIES */  
    @media (max-width: 375px){
        h1{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 72px;
            display: flex;
            align-items: center;
            letter-spacing: 0.025em;
        }
        h2{
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        h4{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
        }
        p{
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 163%;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
        }
    }
    
    /*GRIDS*/

    .grid-container {
        display: grid;
        grid-template-areas:
          'main main';
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        } 
      
        .item1 { grid-area: header; }
        .item2 { grid-area: main; }
        .item3 { grid-area: right; }
        .item4 { grid-area: footer; }
    
    #swirl{
            position: absolute;
            z-index: -999;
            top: 13px;
            left: -103px;
    }
    
    /* STYLING */

    h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 100px;
        line-height: 150px;
        letter-spacing: 0.025em;
    }
    
    h2{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    
    h3{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    
    h4{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        line-height: 66px;
    }

    p{
        font-family: Inter;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
    }

    /* PAGE LAYOUT */

    .mysite{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: 0px;
    }

    .content-left{
        width: 50%;
        padding:0 0 0 200px;
    }

    .content-right{
        width: 50%;
        padding: 120px 200px 0px 100px;
    }
    
    #myTitle{
        color: #9B8B8A;
    }    

    /* NAVIGATION BAR */
    
    .nav{
        width:100%;
        padding: 0%;
        display: flex;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        flex-direction: row;
    }
    
    a {
        text-decoration: none;
    }
    
    .main-nav{
        display: flex;
        flex-direction: row; 
        justify-content: end;
        align-items: center;
        width: 83%;
    }

    #logo{
        margin: 0px;
        height: 100px;
        text-align: center;
        float: left;
    }
    
    .header {
            flex-direction: row;
            justify-content: left;
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    
    li {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    ul{
        width: 100%;
        margin-left: auto;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .wrapper{
        display: flex;
        flex-direction: row;
    }
    
       
    .intro{
        padding:0 0 25px 0;
        border-bottom: 1px solid #BAAFBB;
        margin-bottom: 35px;
    }

    
    /* BUTTONS */

    .btn-cta{
        border: 1px transparent;
        background-color: #BAAFBB;
        font-size: 18px;
        margin-top: 50px;

        /* Auto Layout */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        border-radius: 5px;

        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        align-items: center;
        text-align: center;

        color: #000000;
    }
    
    .btn-cta:hover {

        border: 1px solid #896E8B;
        background: #FFFFFF;

    }

    .CreativeProcess{
        text-align: center;
    }

    .footer{
        font-family: Inter;
        background-color: #BAAFBB;
        width: 100%;
        color: black;
        text-transform: uppercase;
    }

    .footer-col{
        width: 25%;
        padding: 30px;
    }

    .m-a{
        margin: auto;
    } 
    
    /* Create four equal columns that floats next to each other */
    .row {
    width: 33%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    }
    
    /* Content */
    .content {
    background-color: white;
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    }

    .casestudy{
        margin: auto;
        align-items:center;
    }

/* TOOLS */

    .container{
        justify-content: space-around;
        padding: 30px;
        align-items: baseline;
    }
    .column-tools-top{
        width: 33%;
        padding: 50px;
        text-align: center;
    }

    .column-tools-bottom{
        width: 50%;
        padding: 50px;
        text-align: center;
    }
    .svg{
        width: 59px;
        height: 59px;
        background-color: #B9C8BC;
        border-radius: 50%;
        margin: auto;
    }

    .svg-wrapper{
        width: 200px;
        height: 200px;
        background-color: #B9C8BC;
        border-radius: 50%;
        margin: auto;
        display: flex;
    }

    /* HEXAGONS */

    .wrapper-hex {
        display: flex;
        flex-direction: row;
        margin: 0 30px 100px 30px;
    }
      
    .hex-col {
        width: 20%;
        height: 1000px;
    }

    .hex{    
        height: 300px;
        background-image: url("./images/Hexagon_blank.png");
        background-size: 100%;
    }

    .hex-top{
        width: 33%;
    }
    